black==22.3.0
botocore==1.25.4
boto3==1.24.41
click==8.1.3
dataclasses-json==0.5.7
injector==0.19.0
jmespath==1.0.0
marshmallow==3.15.0
marshmallow-enum==1.5.1
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.9.0
platformdirs==2.5.2
pynamodb==5.2.1
pyparsing==3.0.8
python-dateutil==2.8.2
python-dotenv==0.20.0
six==1.16.0
tomli==2.0.1
typing-extensions==4.2.0
typing-inspect==0.7.1
urllib3==1.26.9
mock==4.0.3
coverage==6.4.1
pytest==7.1.2
pytest-cov==3.0.0
autopep8==1.6.0